<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twofours.surespot"
    android:versionCode="59"
    android:versionName="59" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <permission
        android:name="com.twofours.surespot.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.twofours.surespot.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SurespotApplication"
        android:icon="@drawable/surespotlauncher"
        android:label="surespot"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >

        <receiver android:name=".SurespotBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
        <service
            android:name=".services.CredentialCachingService"
            android:exported="false" >
        </service>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="server.surespot.me"
                    android:pathPrefix="/autoinvite"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignupActivity"
            android:label="@string/title_activity_signup"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="login"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name=".images.ImageViewActivity"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".images.ImageSelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName="com.actionbarsherlock.app.SherlockPreferenceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.actionbarsherlock.app.SherlockPreferenceActivity" />
        </activity>
        <activity android:name=".backup.ExportIdentityActivity" >
            <intent-filter>
                <action android:name="com.twofours.surespot.backup.ExportIdentityActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".backup.ImportIdentityActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.twofours.surespot.backup.ImportIdentityActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.ManageKeysActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="com.twofours.surespot.activities.ManageKeysActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".identity.DeleteIdentityActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="com.twofours.surespot.identity.DeleteIdentityActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".identity.ChangePasswordActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="com.twofours.surespot.identity.ChangePasswordActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ExternalInviteActivity"
            android:label="@string/surespot"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".contacts.ContactPickerActivity"
            android:label="@string/surespot"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about" >
            <intent-filter>
                <action android:name="com.twofours.surespot.activities.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".identity.SurespotKeystoreActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".billing.DonationActivity"
            android:label="@string/title_activity_donation" >
        </activity>
    </application>

</manifest>
